.feature {
  margin-bottom: 2rem;
}

.feature_header {
  margin-bottom: 1.14rem;
}

.feature_title {
  margin: 0;
  line-height: 1;
  font-size: 1.7rem;
}

.overview {
  display: flex;
  gap: 1.14rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.overview_item {
  min-width: 220px;
  padding: 0.75rem 1.14rem;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.overview_item_title {
  font-weight: 500;
  color: #858585;
}

.overview_item_content {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.ranking,
.volume {
  display: flex;
  flex-direction: row;
  gap: 1.14rem;
}

.volume_left_wrapper,
.ranking_left_wrapper {
  width: 60%;
  height: 400px;
}

.volume_right_wrapper,
.ranking_right_wrapper {
  width: 40%;
  height: 400px;
}

.pie_chart_title {
  font-size: 1.14rem;
  font-weight: 700;
  text-align: center;
}